<% if @menu_items.present? && @menu_items.first.is_bulk == true %>
  <h2 class="text-center">Bulk Order Menu</h2>
<% elsif @menu_items.present? && @menu_items.first.is_bulk == false %>
  <h2 class="text-center">Personal Menu</h2>
<% end %>

<hr>
<ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 menu">
  <%= render partial: "menu_item", collection: @menu_items %>
</ul>

<% if @menu_items.present? && @menu_items.first.is_bulk == false %>
  <div class="menu-item" data-id='1'>
    <%= link_to new_order_item_path(menu_item_id: 1) do %>
      <div id="build-your-own">
        <div id="build-text">
          <h2 class="text-center">Build Your Own Sandwich</h2>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

