<div class="row homepage-section">
  <div class="small-12 columns text-center">
    <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
      <li>
        <div></div>
        <h3 class='features'>Custom Orders</h3>
        <p></p>
      </li>

      <li>
        <div></div>
        <h3 class='features'>Bulk Orders</h3>
        <p></p>
      </li>

      <li>
        <div></div>
        <h3 class='features'>Group Orders</h3>
        <p></p>
      </li>
    </ul>
  </div>
</div>
