<div class="row homepage-section">
  <div class="small-12 columns text-center">
    <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
      <li class='features'>
        <div>
          <%= image_tag("http://s3.amazonaws.com/bagelstoreassets/images/Icons/chef20.png", alt: "Custom") %>
          <h3>Custom Orders</h3>
         </div>
      </li>

      <li class='features'>
        <div>
          <%= image_tag("http://s3.amazonaws.com/bagelstoreassets/images/Icons/picnic3.png", alt: "Custom") %>
          <h3>Bulk Orders</h3>
        </div>
      </li>

      <li class='features'>
        <div>
          <%= image_tag("http://s3.amazonaws.com/bagelstoreassets/images/Icons/logistics3.png", alt: "Custom") %>
          <h3>Pickup &amp; Delivery</h3>
        </div>
      </li>
    </ul>
  </div>
</div>
