<hr>
<div>
  <h3><%= order_item.menu_item.name %></h3>
  <p><%= order_item.price %></p>
  <ul>
    <% order_item.selections.each do |selection| %>
      <% if selection.is_selected %>
        <li><%= selection.option.ingredient.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
