#banner {
  background-image: image-url('http://s3.amazonaws.com/bagelstoreassets/images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60%;

  #banner-text {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);

    h1 {
      color: white;
      text-shadow: black 0.1em 0.1em 0.1em;
    }
  }

  .small.button.radius {
    box-shadow: 0 0 0.2em black;
  }
}
