#bio {
  width: 100%;
  background-color: #BE8E4E;
  color: #ffffff;
  padding: 2rem;

  img {
  -moz-border-radius: 3%;
  -webkit-border-radius: 3%;
  border-color: #A52100;
  }

  #bio-text {

    p {
    padding: 4rem 0;
    text-shadow: 0 0 0.2em black;
    // font-size: large;
    // letter-spacing: 0.0525em;
    line-height: 2.0rem;
    }

  }
}
