.logo-wrapper {
position: relative;

    .logo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 10px;

    position: absolute;
    left: 50%;
    right: 50%;
    top: 0.5px;
    margin-left: -49px;
    z-index: 2;
    }
}
