<%= form_tag charges_path(order_id: params[:order_id]) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= number_to_currency(@amount / 100.0) %> </span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @amount %>"></script>
<% end %>
