<div id="banner">
  <div id="banner-text">
    <h1 class="text-center banner-text">
      Boston Bread
    </h1>
    <h3 class="text-center">
      <%= link_to "Order Now!", menu_items_path(is_bulk: false), class: "small button radius" %>
    </h3>
  </div>
</div>
