<div id="bio">
  <div class="row homepage-section">
    <div class="small-12 small-centered columns">
      <div class="row">
        <div class="large-3 small-12 columns">
          <div class='logo_img'>
            <%= image_tag("http://s3.amazonaws.com/bagelstoreassets/images/bobs_headshot.jpg", alt: "Bob himself") %>
          </div>
        </div>
        <div id="bio-text" class="large-9 small-12 columns">
          <p>Robert "Bob" Bagler was born in Boston in 1951; after years of working in his father's restaurant, "Arthur's", he struck out on his own in 1979 and started Bob's Bagels right where it sits today, at 51 Melcher Street in Boston. For the last forty years, Bob's Bagels has strived to provide the best bagels in town, at the best prices, made with love from only the freshest ingredients. Bob still works the counter, just like the old days, so stop in sometime and say hello!</p>
        </div>
      </div>
    </div>
  </div>
</div>
