<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class= "name">
        <h1><%= link_to root_path, class: "site-name" do %>bob's bagel<% end %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
      </ul>
    </section>
  </nav>
</div>
